<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Polls</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="polls">
            <ul class="polls__list">
                {% for poll in polls %}
                    <li class="polls__item">
                        <div class="polls__item--title">{{ poll.title }}</div>
                        <div class="polls__item--content">{{ poll.content }}</div>
                        <div class="polls__item--author">{{ poll.author }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
